<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red {
            color: red
        }
    </style>
</head>
<body>
<div id="container"></div>
<script>
    //es6 模板
    function compile(template) {
     var evalExpr = /<%=(.+?)%>/g;
     var expr = /<%([\s\S]+?)%>/g;

     template = template
     .replace(evalExpr, '`); \n echo( $1 ); \n echo(`')
     .replace(expr, '`); \n $1 \n echo(`');

     template = 'echo(`' + template + '`);';
     var script =
     `(function parse(data){
     var output = "";
     function echo(html){
     output +=html
     };
     ${template}
     return output;
     })`;

     return script
     }
     var template=`
     <ul>
     <% for(var i=0;i<data.supplies.length;i++){%>
     <li><%= data.supplies[i]%></li>
     <%}%>
     </ul>
     `;

     var parse = eval(compile(template));
     var div = document.getElementById("container")
     div.innerHTML = parse({supplies : ["broom","mop","cleaner"]})


    //es5模板
    /*function compile(template) {
        var evalExpr = /<%=(.+?)%>/g;
        var expr = /<%([\s\S]+?)%>/g;

        template = template
                .replace(evalExpr, '"); \n echo( $1 ); \n echo("')
                .replace(expr, '"); \n $1 \n echo("');

        template = 'echo("' + template + '");';
        var script = "(function parse(data){" +
                "var output = '';" +
                "function echo(html){" +
                "output +=html" +
                "};" +
                template +
                "return output;" +
                "})";

        return script
    }*/


    var template = "<ul>" +
            "<% for(var i=0;i<data.supplies.length;i++){%>" +
            "<li class=<%=data.class%>><%= data.supplies[i]%></li>" +
            "<%}%>" +
            "</ul>";

    // 目标翻译成的状态
    // "(function parse(data){
    //      var output = "";
    //      function echo(html){
    //          output +=html
    //      };
    //      echo(`<ul>`);
    //      for(var i=0;i<data.supplies.length;i++){
    //          echo(`<li>`);
    //          echo(  data.supplies[i] );
    //          echo(`</li>`);
    //      }
    //      echo(`</ul>`);
    //      return output;
    // })"


    var parse = eval(compile(template));
    var div = document.getElementById("container");
    div.innerHTML = parse({supplies: ["broom", "mop", "cleaner"], class: "red"})


</script>
</body>
</html>